<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="BIT$LIP" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Send bitcoin to anyone now
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-success btn-lg" id="homepage" href="#!/signup" target="_blank">Sign Up Today</a>
			</p>
		</div>
	</div>
	
	<br>Enjoy &amp; Keep Us Updated,
	<br>The bit$lip Team.
</section>