
<section data-ng-controller="HomeController" class = "splash-welcome	">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="BIT$LIP" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<div class = "welcome-h1">Welcome</div>
			<div class="introduction">
				Send bitcoin to anyone now
			</div>
		</div>
		<div class="row">
			
			<a class="main-btn" id="homepage" href="#!/signup" >Signup</a>
			<a class="main-btn" id="homepage" href="#!/signin" >Signin</a>
		</div>
	</div>
	
	<br>Enjoy &amp; Keep Us Updated,
	<br>The bit$lip Team.
</section>